//
//  Common
//  _____________________________________________


& when (@media-common = true) {

    .header-link {
        .font-style (roboto-condenced, 300, 14px, 16px, 0.06em);
        color: @color-pink;
        cursor: pointer;
        text-align: center;
        margin-top: -24px;
        margin-left: 90px;
    }
}