<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Yereone\Slider\Model\ResourceModel\Slider\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">slider</argument>
            <argument name="resourceModel" xsi:type="string">Yereone\Slider\Model\ResourceModel\Slider</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="slider_slider_listing_data_source" xsi:type="string">Yereone\Slider\Model\ResourceModel\Slider\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Yereone\Slider\Model\ResourceModel\Slide\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">slide</argument>
            <argument name="resourceModel" xsi:type="string">Yereone\Slider\Model\ResourceModel\Slide</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="slider_slide_listing_data_source" xsi:type="string">Yereone\Slider\Model\ResourceModel\Slide\Collection</item>
            </argument>
        </arguments>
    </type>
</config>