//
//  Color
//  _____________________________________________

@color-icon-grey: #8f8f8f;
@color-icon-hover-grey: #333333;
@color-blue: #0177DB;
@color-pink: #FF173E;
@color-green: #20b619;
@color-grey: #5C5C5C;
@color-light-grey: #DCDBDB;


//
//  Mixins
//  _____________________________________________

.font-style (@font-family, @font-weight, @font-size, @line-height, @letter-spacing) {
    font-family: @font-family;
    font-weight: @font-weight;
    font-size:  @font-size;
    line-height: @line-height;
    letter-spacing: @letter-spacing;
}

.displaFlex() {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.justify-content(@justify: flex-start) {
    -webkit-justify-content: @justify;
    -ms-justify-content: @justify;
    justify-content: @justify;
}

.align-items(@align: stretch) {
    -webkit-align-items: @align;
    -ms-align-items: @align;
    align-items: @align;
}

//
//  Fonts
//  _____________________________________________


@font-face {
    font-family: "font-family-pwa";
    src:url("../fonts/icons-general-theme/font-family-pwa.eot");
    src:url("../fonts/icons-general-theme/font-family-pwa.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons-general-theme/font-family-pwa.woff") format("woff"),
    url("../fonts/icons-general-theme/font-family-pwa.ttf") format("truetype"),
    url("../fonts/icons-general-theme/font-family-pwa.svg#untitled-font-4") format("svg");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "roboto-condenced";
    src:url("../fonts/roboto-condensed/roboto-condensed-v18-latin-regular.eot");
    src:url("../fonts/roboto-condensed/roboto-condensed-v18-latin-regular?#iefix") format("embedded-opentype"),
    url("../fonts/roboto-condensed/roboto-condensed-v18-latin-regular.woff") format("woff"),
    url("../fonts/roboto-condensed/roboto-condensed-v18-latin-regular.ttf") format("truetype"),
    url("../fonts/roboto-condensed/roboto-condensed-v18-latin-regular.svg#untitled-font-4") format("svg");
    font-weight: normal;
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "font-family-pwa" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "font-family-pwa" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mini-cart:before {
    content: "\61";
}
.icon-user:before {
    content: "\62";
}
.icon-arrow-down:before {
    content: "\63";
}
.icon-customer-support:before {
    content: "\64";
}
.icon-free-shipping:before {
    content: "\65";
}
.icon-money-back:before {
    content: "\66";
}
.icon-delete:before {
    content: "\67";
}
.icon-remove:before {
    content: "\68";
}
.icon-lock:before {
    content: "\69";
}
.icon-search:before {
    content: "\6a";
}
.icon-search:before {
    content: "\6a";
}
.icon-mail:before {
    content: "\6b";
}
.icon-home:before {
    content: "\6c";
}
.icon-tel:before {
    content: "\6d";
}
.icon-instagram:before {
    content: "\6e";
}
.icon-facebook:before {
    content: "\6f";
}
.icon-twitter:before {
    content: "\70";
}



//
//  Common
//  _____________________________________________





& when (@media-common = true) {

}